#rootContainer {
    width: 40%;
    height: max-content;
}

#loginRootContainer {
    width: 100%;
    height: 65px;
    display: flex;
    background-color: rgb(241, 236, 227);
    box-shadow: 2px 2px 2px 2px gray;
}


.main-content-container-style {
    width: 80%;
    height: min-content;
    margin: auto;
    padding: 20px;
    background-color: rgb(241, 236, 227);
    box-shadow: 2px 2px 2px 2px gray;
}

#postItHeaderDiv {
    width: 15%;
    box-shadow: 1px 1px 1px 1px gray;
    background-color: red;
}

#loginInfoContainer {
    width: 80%;
    padding: 10px;
}

.buttonStyle {
    width: 100%;
    height: 50%;
    background-color: rgb(245, 250, 245);
}

#menuContainer {
    width: 18%;
}

.boardStyle {
	display: flex;
 	justify-content:center; 
    align-items : center;	
    width: 100%; 
    height: 450px;
}

.boardTitleStyle {
    margin: 0;
    font-size: large;
    font-weight: bold;
}

#settingTitle{
	margin:0px;
}

.settingNomalButton{
	margin: 10px;
	background-color: rgb(241, 236, 227);
    box-shadow: 1px 1px gray;
}

.settingTextInput{
	padding-left:3px;
	padding-top:3px;
	padding-bottom:3px;
    border-radius: 5px;
	width: 100%;
}

.board-list-td {
	text-align: center;
}

.board-list-style {
	border-collapse: collapse;
	border-radius: 5px;
}

.board-read-style {
	width:100%;
	/* border: 1px solid black; */
	/* border-collapse: collapse; */
}

.board-read-content-style {
	width:100%;
	height:100%;
	background-color:white;
	padding-top:10px; 
	padding-left:10px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
	overflow: scroll;
}

.read-board-title-style {
	background-color:white;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
}

.read-board-title-style {
	margin: 0px;
	padding-left: 5px;
	padding-top:5px;
	padding-bottom:5px;
	height:30px;
}

.board-sub-style {
	padding-left: 10px;
	font-size: 14px;
}

.board-read-title-style {
	margin: 0px;
	width:12%;
	padding: 5px;
	border: 1px solid white;
	border-radius: 5px;
	font-weight: bold;
    background-color: rgb(221, 216, 207);

}

.board-row-style{
	border-bottom: 1px solid black;
	border-radius: 5px;
    height: 35px;
}

.board-colunm-style {
	   box-shadow: 1px 1px 1px 1px gray;
	   border-radius: 5px;
}

#board-page-container {
	width: min-content;
    height: min-content;
    margin: auto;
    padding: 15px;
}

#board-input-container {
	width: max-content;
    height: min-content;
    margin: auto;
    padding: 15px;
}

#board-input-container * {
	margin-left: 1px;
	margin-right: 1px;
}

.li-left-sort-style{
	float: left;
}

#board-read-member-info-container {
	list-style-type: none;
	margin:0px;
	display: inline;
}

.page-number-style {
	margin-left: 5px;	
	margin-right: 5px;	
}